:root {
  --color-brand: #010001;
  --color-grey-0: #fffeff;
  --color-grey-200: #dbdae0;
  --color-grey-300: #717171;
  --color-grey-700: #3d3b3c;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
  min-height: 100vh;
  font-size: 1.6rem;
  color: var(--color-grey-300);
  background-color: var(--color-grey-200);
  overflow-x: hidden;
  /* overflow: hidden; */
}

img {
  max-width: 100%;
}

a,
input,
button {
  font-family: inherit;
  color: inherit;
}
a,
button {
  cursor: pointer;
}

.header {
  background-color: aliceblue;
  border-radius: 2rem;
  width: 85%;
  margin: 3rem auto 0;
  height: 7rem;
  padding: 1rem 3rem;
  clip-path: inset(0 0 0 0);
  display: grid;
  align-items: center;
  animation: header-transition 1s ease-in;
}

.header nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  animation: slide-down 1s ease-in;
}

.header ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  flex-grow: 1;
}

.header a {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
  text-transform: uppercase;
}

.header a:hover,
.header a:active {
  color: var(--color-brand);
}

.header li:last-child {
  margin-left: auto;
}

.header li:last-child a {
  background-color: transparent;
  position: relative;
  z-index: 100;
  border: 2px solid var(--color-brand);
  color: var(--color-brand);
  border-radius: 8px;
  padding: 5px 1rem;
  transition: all 0.6s;
}

.header li:last-child a::after {
  content: "";
  width: 0%;
  background-color: var(--color-brand);
  position: absolute;
  inset: 0;
  height: inherit;
  z-index: -1;
  transition: width 0.6s;
}

.header li:last-child a:active::after,
.header li:last-child a:hover::after {
  width: 100%;
}

.header li:last-child a:active,
.header li:last-child a:hover {
  color: var(--color-grey-0);
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: "Jost";
  font-size: 2.4rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-brand);
}

.brand-logo span:first-child {
  display: inline-block;
  font-size: 3.2rem;
  font-family: "Black Ops One", sans-serif;
  background-color: var(--color-brand);
  color: var(--color-grey-0);
  padding: 2px 1rem;
  border-radius: 5px;
}

@keyframes header-transition {
  0% {
    clip-path: inset(0 0 100% 0);
    border-radius: 0;
  }

  100% {
    clip-path: inset(0 0 0 0);

    border-radius: 2rem;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
    border-radius: 2rem;
  }
}

/*----------------hero-------------------- */

.hero {
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.hero .circle {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--color-grey-700);
  display: block;
  position: absolute;
  z-index: -1;
}

.hero .circle-top {
  inset: 0 auto auto 0;
  transform: translate(-50%, -50%);
  animation: orbit-top 10s linear infinite;
}

.hero .circle-bottom {
  inset: auto 0 0 auto;
  transform: translate(50%, 50%);
  animation: orbit-bottom 10s linear infinite;
}

.hero .dot {
  position: absolute;
  width: 1rem;
  aspect-ratio: 1;
  border: 1px solid var(--color-grey-700);
  background-color: var(--color-grey-200);
  z-index: 110;
  inset: auto 0 0 50%;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}

.hero-image {
  width: 55%;
  margin: 0 auto;
  transform: translateY(-2rem);
}

.scroll-animation {
  position: absolute;
  max-width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  font-size: 24rem;
  font-weight: 700;
  text-transform: uppercase;
}

.scroll-text {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: scroll-animation 10s linear infinite;
}

.scroll-text p {
  display: inline-block;
}

@keyframes orbit-top {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes orbit-bottom {
  to {
    transform: translate(50%, 50%) rotate(360deg);
  }
}

@keyframes scroll-animation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* ----------------about-------------------- */

.about {
  background-color: var(--color-brand);
  position: relative;
  z-index: 10;
}
.about-box {
  display: grid;
  padding: 5rem 15rem;
  grid-template-columns: repeat(1fr, 4);
  column-gap: 3rem;
}

.about h2 {
  font-size: 20rem;
  text-transform: uppercase;
  letter-spacing: -10px;
  color: var(--color-grey-0);
  grid-column: 1/4;
}
.about .date {
  justify-self: end;
  align-self: center;
  font-size: 2.4rem;
  transform: translateY(-5rem);
  color: var(--color-grey-700);
}
.about .arrow {
  font-size: 26rem;
  height: 30rem;
  width: 30rem;
  display: inline-block;
  transform: rotateZ(-45deg) scale(2.5);
  grid-column: 1/2;
  animation: scale 1s ease-in;
  color: var(--color-grey-700);
}
.about .about-text {
  grid-column: 2/5;
  color: var(--color-grey-0);
}
.about .about-text p:first-child {
  margin-bottom: 2rem;
}
.about .scroll-text-box {
  margin-top: 10rem;
  max-width: 100%;
  color: var(--color-grey-0);
  overflow: hidden;
  grid-column: 1/5;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
}

@keyframes scale {
  from {
    transform: rotateZ(-45deg) scale(1);
  }
  to {
    transform: rotateZ(-45deg) scale(2.5);
  }
}
/* ----------------projects-------------------- */

.projects {
  background-color: var(--color-grey-200);
  position: relative;
  z-index: 10;
  padding: 5rem 18rem;
}

.projects .work-intro {
  display: flex;
  gap: 8rem;
  align-items: center;
  margin-bottom: 5rem;
}

.work-intro p {
  font-size: 3rem;
  color: var(--color-brand);
  padding: 2rem;
  border-radius: 2rem;
  font-weight: 600;
}

.work-intro button {
  display: inline-block;
  flex-basis: 60rem;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 2rem;
  border: 2px solid var(--color-grey-300);
  background-color: transparent;
  text-transform: capitalize;
  color: var(--color-brand);
  font-size: 3.2rem;
  line-height: 1.2;
  cursor: pointer;
}

.works-box h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  color: var(--color-brand);
}

.works {
  margin-bottom: 4.8rem;
}

.works li {
  border-top: 1.5px dashed var(--color-brand);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding: 2rem;
  position: relative;
  overflow-clip-margin: hidden;
  cursor: pointer;
  height: 12rem;
  transition: all 1s;
}
.works li:last-child {
  border-bottom: 1.5px dashed var(--color-brand);
}

.works li:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 2rem;
  background-color: var(--color-grey-200);
  inset: 50%;
  transform: translate(-50%, 30%);
  transition: transform 1s;
}

.works li h3 {
  font-size: 7rem;
  color: var(--color-brand);
  font-weight: 800;
}

.works li img {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  left: 50%;
  width: 20%;
  background-color: var(--color-grey-700);
  border: 10px solid var(--color-grey-300);
  z-index: 10;
  transition: all 1s;
  transform: translateY(5rem);
}

.works li:hover {
  height: 15rem;
}
.works li:hover::after {
  transform: translate(-50%, 150%);
}
.works li:hover img {
  opacity: 1;
  visibility: visible;
  position: absolute;
  pointer-events: none;
  transform: translateY(0);
}

.works-box div:last-child {
  text-align: center;
}

.works-box button {
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 2.4rem;
  text-transform: capitalize;
  border-bottom: 2px solid var(--color-grey-200);
  position: relative;
  color: var(--color-brand);
}

.works-box button::after {
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  background-color: var(--color-brand);
  inset: auto 50% 0 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: left;
  transition: transform 0.6s;
}

.works-box button:hover::after {
  transform: translateX(-50%) scaleX(1);
}
