:root {
  --color-brand: #010001;
  /* --color-brand: #002a32; */
  /* --color-brand: #2f0147; */
  /* --color-brand: #2f0147; */

  --color-grey-0: #fffeff;
  --color-grey-200: #dbdae0;
  --color-grey-300: #6b6b6b;
  --color-grey-700: #3d3b3c;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
  min-height: 100vh;
  font-size: 1.6rem;
  color: var(--color-grey-700);
  /* background-color: var(--color-grey-200); */
  overflow-x: hidden;
  /* overflow: hidden; */
}

img {
  max-width: 100%;
}

a,
input,
button {
  font-family: inherit;
  color: inherit;
}
a,
button {
  cursor: pointer;
  text-decoration: none;
}

svg {
  height: 100%;
  width: 100%;
  padding: 1rem;
  color: #3d3b3c;
  fill: #3d3b3c;
  background-color: var(--color-brand);
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-brand);
}

/* ----------- reusable components----------- */
.btn {
  border: none;
  background-color: transparent;
  color: var(--color-brand);
}

.btn--outline {
  /* border-radius: 8px; */
  padding: 5px 1rem;
  border: 2px solid var(--color-brand);
  position: relative;
  z-index: 100;
  transition: all 0.6s;
  text-transform: uppercase;
  font-size: 2.4rem;
}

.btn--outline::after {
  content: "";
  width: 0%;
  background-color: var(--color-brand);
  position: absolute;
  inset: 0;
  height: inherit;
  z-index: -1;
  transition: width 0.6s;
}

.btn--outline:active::after,
.btn--outline:hover::after {
  width: 100%;
}

.btn--outline:active,
.btn--outline:hover {
  color: var(--color-grey-0) !important;
}

.btn--underline {
  font-size: 2.4rem;
  text-transform: capitalize;
  border-bottom: 2px solid var(--color-grey-200);
  position: relative;
}

.btn--underline::after {
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  background-color: var(--color-brand);
  inset: auto 50% 0 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: left;
  transition: transform 0.6s;
}

.btn--underline:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.btn--fill {
  background-color: var(--color-brand);
  padding: 1rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--color-grey-0);
  position: relative;
}

.btn--fill::after {
  content: "";
  background-color: var(--color-grey-0);
  position: absolute;
  inset: 0;
  height: inherit;
  z-index: -1;
  border: 1px solid var(--color-brand);
  transition: width 0.3s;
}

.btn--fill:active,
.btn--fill:hover {
  background-color: transparent;
  color: var(--color-grey-700) !important;
}
section * {
  transition: all 1s;
}

.hidden * {
  visibility: hidden;
  opacity: 0;
  transform: translateY(20rem);
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  text-transform: capitalize;
}
.chip {
  border: 1px solid var(--color-brand);
  display: inline;
  padding: 2px 4px;
}

/* ----------------header------------------- */
.header {
  width: 85%;
  margin: 3rem auto 0;
  height: 7rem;
  padding: 1rem 3rem;
  display: grid;
  align-items: center;
  opacity: 1;
  position: relative;
  background-color: var(--color-grey-0);
  z-index: 500;
  animation: slide-down 0.6s ease-out backwards;
  border: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.header nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* animation: slide-down 0.6s ease-in; */
}

.header ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  flex-grow: 1;
}

.header a {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s;
  text-transform: uppercase;
}

.header a:hover,
.header a:active {
  color: var(--color-brand);
}

.header li:last-child {
  margin-left: auto;
}
.brand-logo {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: "Jost";
  font-size: 2.4rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-brand);
}

.brand-logo span:first-child {
  display: inline-block;
  font-size: 3.2rem;
  font-family: "Black Ops One", sans-serif;
  background-color: var(--color-brand);
  color: var(--color-grey-0);
  padding: 2px 1rem;
  /* border-radius: 5px; */
}

@keyframes slide-down {
  0% {
    transform: translateY(-3rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*----------------hero-------------------- */

.hero {
  height: 100vh;
  /* overflow: hidden; */
  position: sticky;
  top: 0;
  display: grid;
  place-items: center;
}

.hero .square {
  width: 28%;
  height: 35%;
  aspect-ratio: 1;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  z-index: -1;
}

.hero .square-top {
  inset: 0 auto auto 0;
  transform: translate(-5%, -60%);
}

.hero .square-bottom {
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 40%;
  inset: auto 0 0 auto;
  transform: translate(5%, 0%);
}

.hero-box {
  position: relative;
  width: 80%;
  aspect-ratio: 1/1;
}

.hero-heading {
  padding: 2rem 4rem;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  top: 12%;
  left: 5%;
  color: var(--color-brand);
  border: 4px solid var(--color-brand);
  z-index: 3;
  opacity: 0.8;
  background-color: var(--color-grey-0);
  transform: translate(20%, -50%);
  animation: hero-anime-heading 0.6s ease-in backwards;
}

.hero-heading span:first-child {
  display: block;
  font-size: 4.8rem;
  border-right: 2px solid var(--color-brand);
  width: fit-content;
  letter-spacing: 1.5px;
}
.hero-heading span:last-child {
  font-size: 2.4rem;
  letter-spacing: 2rem;
  display: inline-block;
  margin-bottom: 2rem;
}

.hero-heading p {
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.hero-image {
  width: 36%;
  aspect-ratio: 1/1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 60%;
  background-color: var(--color-grey-0);
  opacity: 0.9;
  border: 1px solid var(--color-brand);
  overflow: hidden;
  animation: hero-anime-image 0.6s ease-in backwards;
}
.hero-image img {
  height: 102%;
}

@keyframes hero-anime-heading {
  0% {
    opacity: 0;
    transform: translate(10%, -50%);
  }

  80% {
    opacity: 0.8;
    transform: translate(25%, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(20%, -50%);
  }
}

@keyframes hero-anime-image {
  0% {
    opacity: 0;
    transform: translate(-40%, -50%);
  }

  80% {
    opacity: 0.8;
    transform: translate(-55%, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes scroll-text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* ----------------about-------------------- */

.about {
  background-color: var(--color-brand);
  background-image: radial-gradient(
      circle,
      var(--color-brand) 2rem,
      transparent 2rem
    ),
    linear-gradient(var(--color-grey-700) 1rem, transparent 1rem),
    linear-gradient(90deg, var(--color-grey-700) 1rem, transparent 1rem);
  background-size: 4rem 4rem;
  background-position: -1.5rem -1.5rem, 0 0, 0 0;
  position: relative;
  z-index: 10;
}
.about-box {
  display: grid;
  padding: 0 12rem;
  grid-template-columns: repeat(1fr, 4);
  margin-bottom: 8rem;
}

.about h2 {
  font-size: 20rem;
  text-transform: uppercase;
  letter-spacing: -10px;
  color: var(--color-grey-0);
  grid-column: 1/4;
}
.about .date {
  justify-self: end;
  align-self: center;
  font-size: 2.4rem;
  transform: translateY(-5rem);
  color: var(--color-grey-300);
}
.about .info-icon {
  font-size: 35rem;
  height: 30rem;
  display: inline-block;
  transform: translate(-4rem, -5rem);
  grid-column: 1/2;
  animation: scale 1s ease-in;
  color: var(--color-grey-700);
}
.about-text {
  grid-column: 2/5;
  color: var(--color-grey-0);
  align-self: center;
}
.about-text p:first-child {
  margin-bottom: 2rem;
}
.about-text p:last-child {
  text-transform: uppercase;
}

.scroll-text-box {
  max-width: fit-content;
  color: var(--color-grey-0);
  overflow: hidden;
  grid-column: 1/5;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  padding-bottom: 2rem;
}

.scroll-text {
  white-space: nowrap;
  display: inline-block;
  animation: scroll-text 10s linear infinite;
}

.scroll-text ion-icon {
  transform: translateY(8px);
}

.scroll-text p {
  display: inline-block;
}

@keyframes scale {
  from {
    transform: rotateZ(-45deg) scale(1);
  }
  to {
    transform: rotateZ(-45deg) scale(2.5);
  }
}

/* ----------------skills-------------------- */

.skills-section {
  position: relative;
  z-index: 10;
  background-color: var(--color-grey-0);
  padding: 15rem 12rem 20rem;
  border-bottom: 1px solid var(--color-grey-200);
}

.skills-section h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 20rem;
}

.skills {
  display: flex;
  justify-content: space-between;
}
.skill {
  width: 28%;
  border: 1px solid var(--color-grey-300);
  position: relative;
  height: 50rem;
  position: relative;
  padding: 25rem 2rem 1rem;
}

.skill--2 {
  transform: translateY(-8rem);
}

.skill--3 {
  transform: translateY(5rem);
}

.skills-logo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1px;
  row-gap: 1px;
  height: 25rem;
  width: 100%;
  padding: 1px;
  background-color: var(--color-grey-0);
  align-items: center;
  justify-items: center;
}

.skill--1 .skills-logo-list svg:nth-child(4) {
  grid-column: 1/3;
  grid-row: 2;
}
.skill--1 .skills-logo-list svg:nth-child(5) {
  grid-column: 3/4;
  grid-row: 2;
}
.skill--1 .skills-logo-list svg:nth-child(6) {
  grid-column: 2/4;
  grid-row: 3;
}

.skill--2 .skills-logo-list svg:nth-child(1) {
  grid-column: 2/4;
  grid-row: 1;
}

.skill--2 .skills-logo-list svg:nth-child(3) {
  grid-column: 1/3;
  grid-row: 2;
}

.skill--2 .skills-logo-list svg:nth-child(5) {
  grid-column: 2/4;
  grid-row: 3;
}

.skill--3 .skills-logo-list svg:nth-child(1) {
  grid-column: 2/4;
  grid-row: 1/4;
}

.skill--3 .skills-logo-list svg:nth-child(2) {
  grid-column: 1/2;
  grid-row: 1/3;
}

.skill-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skill h3 {
  position: absolute;
  top: 23.5%;
  left: -27%;
  color: var(--color-grey-0);
  font-size: 4rem;
  text-align: end;
  text-transform: uppercase;
  z-index: 1;
  width: 70%;
}

.skill h3 span {
  padding: 0 2rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  border-top: 1px solid var(--color-grey-0);
  background-color: var(--color-brand);
}
.skill .skills-logo-list {
  position: absolute;
  top: -10%;
  right: -10%;
}

/* ----------------projects-------------------- */

.projects {
  background-color: var(--color-grey-0);
  position: relative;
  z-index: 10;
  border-right: 1px solid var(--color-grey-200);
  /* padding: 0 0 0 12rem; */
  background-color: var(--color-brand);
  padding: 15rem 12rem 20rem;
}

.works-box {
  border: 1px solid var(--color-brand);
  /* background-color: var(--color-brand); */
}

.works-topbar {
  padding: 2rem 4rem;
  background-color: var(--color-brand);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--color-grey-0);
  align-items: center;
}

.works-topbar h2 {
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.works-topbar p {
  margin-bottom: 3rem;
}

.works-topbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transform: translateX(-50%);
  text-transform: capitalize;
}

.works-topbar li {
  /* border: 1px solid var(--color-grey-0); */
  padding: 5px 8px;
}

.works {
  display: flex;
  list-style: none;
  gap: 7rem;
  padding: 5rem 5rem;
  overflow-x: auto;
}

.work {
  /* border: 1px solid var(--color-brand); */
  position: relative;
  width: 40%;
  flex-shrink: 0;
  box-shadow: 1rem 2rem 3rem rgba(1, 0, 1, 0.1);
}

.work-img {
  position: relative;
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.work-img::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 0, 1, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  transition: width 0.6s;
}
.work-content {
  padding: 2rem 1.5rem;
}
.work-content > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.work h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
}
.work span {
  font-size: 1.4rem;
  padding: 2px 5px;
  border: 1px solid var(--color-brand);
  text-transform: capitalize;
}
.work .btns {
  display: flex;
  gap: 1px;
}

.work button {
  width: 50%;
}
/* .work:hover {
  transform: scale(1.02);
} */
.work:hover .work-img::after {
  width: 0;
}

/* ----------------footer-------------------- */

.footer {
  position: relative;
  z-index: 10;
  background-color: var(--color-grey-200);
  padding: 5rem 12rem;
}

.contact {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: var(--color-brand);
  border-bottom: 1px solid var(--color-grey-300);
  margin-bottom: 8rem;
}

.contact ion-icon {
  font-size: 25rem;
  transform: rotate(-45deg);
}

.contact p {
  font-size: 6.4rem;
  text-transform: uppercase;
  flex-basis: 40rem;
  font-weight: 600;
}

.contact button {
  margin-left: auto;
  transform: translateY(-4.5rem);
}

.footer .name {
  font-size: 11rem;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  color: var(--color-brand);
  margin-bottom: 8rem;
}

.footer div:last-child {
  display: flex;
  justify-content: space-between;
}

.footer nav {
  display: flex;
  gap: 3rem;
}
.footer nav a {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.8rem;
  transition: color 0.6s;
}
.footer nav a:hover {
  color: var(--color-brand);
}
